{
  "ecmaVersion": 6,
  "env": {
    "browser": true,
    "builtin": true,
    "es6": true,
    "jasmine": true,
    "jquery": true,
    "mocha": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": false
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "quotes": [2, "single"]
  }
}
