//  Settings
//  --------
//
//  Table of Contents:
//
//   1. Another Bar
//   2. The Foo

@import 'mixins';

// 1. Another Bar
// --------------

$bar-var1: true;
$bar-var2: 1em;

// 2. The Foo
// ----------

$foo-var1: true;
$foo-var2: 1em;

